html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

p {
  line-height: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

.section {
  /*border: 1px solid pink;*/
  display: flex;
  width: 100%;
}

.container {
  /*border: 1px solid blue;*/
  display: block;
  width: 60%;
}

.content {
  /*border: 1px solid green;*/
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem auto;
}

.highlight {
  margin: 1.5rem;
}

div.highlighted {
  background-color: lavender;
}

a.read {
  color: blue;
}

div.flex {
  position: relative;
  top: 65px;
}


/*Header*/
div.head.section {
  position: fixed;
  z-index: 1;
}

div.header {
  background-color: white;
  display: flex;
  margin-top: 0;
  padding: 0 1.5rem;
  width: inherit;
  height: 4rem;
  align-items: center;
  justify-content: space-between;

}

div.logo {
  display: flex;
  align-items: center;
}

.logo strong {
  font-weight: bold;
}

ul.menu {
  display: flex;
}

.menu a {
  margin-left: 1rem;
}

/*Start Section*/
div.start.section {
  background-color: lavender;
  align-items: center;
}

.highlight img {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}

.slogan h1{
  font-size: 3rem;
  font-weight: 800;
}

.slogan p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.start-btn p {
  display: inline-block;
  background-color: dimgray;
  background-size: 65%;
  color: white;
  text-align: center;
  padding: 0.5rem 7rem;
  border-radius: 3px;
  width: 33%;
}

.start-btn a {
  color: white;
}

/*Article Section*/
div.highlight.container {
  display: flex;
  flex-direction: column;
}

div.article.writing {
  padding-top: 2rem;
  padding-right: 2rem;
}

.writing h2,
p.paragraph {
  margin-bottom: 1.5rem;
}


div.box {
  display: flex;
}

.box div {
margin: 1rem;
}

div.article-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

div.article-box h3 {
  font-weight: bold;
}

div.article-img {
  width: 35%;
}

div.article-img img {
  max-width: 100%;
  max-height: 100%;
}

/*Course Section*/
div.courses.section {
  background-color: lavender;
}

div.courses-container {
  /*border: 1px solid blue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 3.5rem;
}

div.courses.boxes {
  /*border: 1px solid red;*/
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  background-color: white;
  width: 31%;
  height: auto;
  margin: 1.5rem auto;
}

.course-image img {
  width: 100%;
  height: auto;
}

div.course-text {
  padding: 1.5rem;
}

div.course-text h3 {
  font-weight: bold;
}

p.capital {
  margin: 0.5rem 0;
}

/*Thesis Section*/
.thesis-heading {
  text-align: center;
  margin-top: 2rem;
}

.highlight video {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}

div.thesis.writing h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-top: 1.5rem;
}

/*Footer*/
div.footer {
  background-color: lavender;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

nav {
  display: flex;
}

nav a {
  margin-left: 1rem;
}

/*Desktop style*/
@media only screen and (min-width : 769px) and (max-width : 1600px) {

  .mobile {
    display: none;
  }
}


/*Mobile style*/
@media only screen and (min-width : 320px) and (max-width : 768px) {

  .desktop {
    display: none;
  }

  .section {
    display: block;
  }

  .container {
    width: auto;
  }

  .content {
    width: auto;
  }

  .highlight {
    margin: 0;
  }

  .logo span {
    display: none;
  }

  div.header {
    width: auto;
  }

  .desktop {
    display: none;
  }

  .menu a {
    margin-left: 5rem;
  }

  div.start.section {
    padding-bottom: 1rem;
  }

  div.start.content {
    margin-top: 2rem;
  }

  .slogan p {
    margin-bottom: 1.5rem;
  }

  .article div.highlight {
    display: none;
  }

  .box {
    flex-direction: column;
    }

  div.article-img {
    width: auto;
  }

  div.article-img img {
    width: 100%;
  }

  div.courses.section {
    background-color: white;
  }

  .course {
    /*border: 1px solid red;*/
    margin: 1rem;
  }

  div.courses-container {
    margin: auto;
  }

  .table {
    /*border: 1px solid red;*/
    display: block;
    width: auto;
    margin-bottom: 2rem;
  }

  .course-heading h2 {
    margin: 2rem auto 1rem auto;
  }

  .courses.nav li {
    background-color: lavender;
    margin: 0.5rem;
    width: 280px;
    padding: 1rem;
    font-weight: bold;
  }

  div.thesis-heading h2 {
    margin-bottom: 1rem;
  }

  .thesis.writing {
    display: none;
  }

  .thesis.content {
    display: none;
  }

  nav.terms {
    display: none;
  }

}
